<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <title>Фильмы сервиса</title>
  <style>
    .not-enough-book {
      color: red;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="/js/add-director-to-film.js"></script>
</head>
<body>
<div layout:fragment="content">
  <h1>Все фильмы</h1>
  <div class="row">
    <div class="col" sec:authorize="hasRole('ROLE_ADMIN')">
      <a href="films/add"
         class="btn btn-secondary"
         role="button"
         style="float: right"
         aria-disabled="true">Добавить фильм
      </a>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Режиссёр</th>
      <th scope="col">Страна</th>
      <th scope="col">Дата премьеры</th>
      <th scope="col">Жанр</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="film : ${films}">
      <td th:text="${film.getFilmTitle()}"></td>
      <td th:if="${film.directorDTO.directorFio != ''}" th:text="${film.directorDTO.directorFio}"></td>
      <td th:if="${film.directorDTO.directorFio == ''}">
        <div sec:authorize="hasRole('ROLE_ADMIN')">
          <div class="btn btn-primary add-director">Добавить режиссёра</div>

          <form style="max-width: 50vw" hidden method="POST" th:action="@{/films/add-director}" th:object="${filmWithDirector}">
            <!--<div sec:authorize="hasRole('ROLE_ADMIN')">
              &lt;!&ndash;<p>You do not have sufficient rights to access this page.</p>&ndash;&gt;
              <p>Выберите режиссера:</p>
            </div>-->
            <div sec:authorize="hasRole('ROLE_ADMIN')">
              <label for="directors">Выберите режиссёра:</label>
              <input class="form-control" type="text" hidden name="filmTitle" th:value="${film.filmTitle}"/>
              <select class="form-select" name="directorFio" id="directors">
                <option th:each="director : ${directors}" th:text="${director.directorFio}"></option>
              </select>
              <button type="submit">Добавить</button>
            </div>

          </form>
        </div>

      </td>
      <td th:text="${film.country}"></td>
      <td th:text="${film.getPremiereDate()}"></td>
      <td th:text="${film.getGenre().getGenreTextDisplay()}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
